/* Стили для таблиц */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ccc;
}

table th {
    font-weight: bold;
    background-color: #f2f2f2;
}

table td {
    text-align: center;
}

table caption {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    display: flex;
    margin: 20px;
    /* Внешний отступ для элемента */
}

.content-left {
    width: 70%;
    background: #ffffff;
    /* Цвет фона левой карточки */
    margin-right: 10px;
    /* Отступ между карточками */
    padding: 30px;
    /* Внутренний отступ для контента */
    border-radius: 0px;
    /* Закругление углов */
}

.content-right {
    width: 30%;
    background: #b8bfd9fd;
    /* Цвет фона правой карточки */
    margin-left: 10px;
    /* Отступ между карточками */
    padding: 20px;
    /* Внутренний отступ для контента */
    border-radius: 30px;
    /* Закругление углов */
}

.img-size {
    border: 10px solid #2a2a2ad8;
    border-radius: 30px;
    width: 300px; /* Ширина изображения */
    height: 400px; /* Высота изображения */
}
